/* 重置swiper的样式，不要乱删 */
.swiper-cont {
  width: 1482px;
  height: 155px;
  position: absolute;
  top: 0;
  left: -41px;
  overflow: hidden;
}

.swiperXin {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.swiperXin .swiper-container {
  position: static;
}

.swiperXin .swiper-container .swiper-button-prev {
  width: 22px;
  height: 53px;
  background-image: url("http://222.186.150.148:8001/static/images/home/notice-left-arrow.webp");
  background-size: 100% 100%;
  position: absolute;
  top: 48%;
  left: -40px;
  right: auto;

}

.swiperXin .swiper-container .swiper-button-prev:after {
  content: none;
}

.swiperXin .swiper-container .swiper-button-next {
  width: 22px;
  height: 53px;
  background-image: url(http://222.186.150.148:8001/static/images/home/notice-right-arrow.webp);
  background-size: 100% 100%;
  position: absolute;
  top: 48%;
  right: -40px;
  cursor: pointer;
}

.swiperXin .swiper-container .swiper-button-next:after {
  content: none;
}