@import '@/scss/helpers/_helpers.scss';

input::-webkit-input-placeholder {
  color: #aab2bd;
}

.main {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: transparent;
}

.mainactive {
  position: fixed;

  .navwrap {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11);
  }

  .headtab .headli {
    color: #383838;

    .navmorearrow {
      background-image: url(network($home + 'drop-down-triangle'));
    }
  }

  .searchCtn {
    background-color: #f3f3f3;

    &:hover {
      border: 1px solid #c9c7c7;
    }
  }

  .searchInput {
    color: #a9adb9;
  }

  .searchIcon {
    background-image: url(network($home + 'search-nav'));
    background-size: 100% 100%;
  }

  .softIcon {
    background-image: url(network($home + 'application-mode2'));
    background-size: 100% 100%;
  }

  .dingyueIcon {
    background-image: url(network($home + 'subscription2'));
    background-size: 100% 100%;
  }

  .guanzhuicon {
    background-image: url(network($home + 'attention2'));
    background-size: 100% 100%;
  }

  .loginicon {
    background-image: url(network($home + 'user-icon2'));
    background-size: 100% 100%;
  }

  .textright {
    color: #2883ff;
  }

  .loginwrop {
    color: #2883ff;
  }
}

.navwrap {
  width: 100%;
  background-color: transparent;
}

.headertop {
  display: flex;
  width: 1414px;
  height: 42px;
  padding: 14px 0 13px 0;
  justify-content: space-between;
  margin: 0 auto;
}

.headerleft {
  display: flex;
}

.logolist {
  width: 146px;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoctn {
  height: 42px;
  max-width: 100%;
  vertical-align: middle;
}

.logo222 {
  height: 32px;
}

.headtab {
  display: flex;
  align-items: center;
  height: 42px;
  margin: 0 0 0 50px;
}

.headtab .headli {
  height: 42px;
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  color: #ffffff;
  font-size: 22px;
  margin: 0 35px 0 0;

  a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-family: PingFangSC;
    position: relative;
    padding: 0 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
  }

  .navmorearrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 5px;
    height: 4px;
    background-image: url(network($home + 'down-arrow'));
    transform: rotate(0);
    transition: transform 0.2s linear;
  }

  .hoverEle {
    display: none;
  }

  .hoverLive {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    &:after {
      position: absolute;
      left: 50%;
      top: -9px;
      transform: translateX(-50%);
      display: inline-block;
      content: '';
      width: 14px;
      height: 9px;
      background-image: url(network($liveselect + 'notice-live'));
      background-size: 100% 100%;
    }
  }

  .gap {
    display: none;
  }

  &:hover {
    a {
      background-image: linear-gradient(127deg, #25edea 17%, #1895fc 82%);
    }

    .navmorearrow {
      transform-origin: center;
      transform: rotate(180deg);
      transition: transform 0.3s linear;
    }

    .gap {
      display: block;
      width: 100px;
      height: 80px;
      opacity: 0;
      position: absolute;
      left: -10px;
      top: 0;
    }

    .hoverEle {
      display: block;
      position: absolute;
      top: 50px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      &:after {
        position: absolute;
        left: 50%;
        top: -9px;
        transform: translateX(-50%);
        display: inline-block;
        content: '';
        width: 14px;
        height: 9px;
        background-image: url(network($liveselect + 'notice-live'));
        background-size: 100% 100%;
      }
    }

    .hoverLive {
      display: block;
    }
  }
}

.livectn {
  width: 362px;
  // height: 425px;
  padding: 11px 25px 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.34);
  box-sizing: border-box;
  overflow: hidden;
}

.liveoup {
  font-family: PingFangSC;
  font-size: 20px;
  font-weight: 500;
  color: #464646;
  line-height: 1;
  text-align: left;
  margin: 0 0 11px 0;
}

.liveouul {
  width: 100%;
  margin: 0 0 16px 0;

  .liveouctn {
    display: flex;
    justify-content: space-between;
    margin: 0 0 9px 0;

    &:last-child {
      margin: 0;
    }
  }

  .liveouleft {
    height: 21px;
    display: flex;
    align-items: center;
  }
}

.livehou {
  width: 41px;
  height: 18px;
  border-radius: 8.2px 0 8.2px 8.2px;
  background-image: url(network($liveselect + 'biaoqian'));
  background-size: 100% 100%;
  position: relative;
}

.hot3 {
  display: block;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 11px;
}

.ouzhoubei {
  font-size: 11px;
  font-weight: 500;
  color: #323232;
  margin: 0 0 0 6px;

  span {
    margin: 0 18px 0 0;
  }
}

.look3 {
  width: 60px;
  height: 21px;
  background-image: url(network($liveselect + 'btn-xiao'));
  background-size: 100% 100%;
  font-size: 10.8px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  outline: none;
}

.saisiul {
  width: 100%;
  height: 161px;
  overflow-y: auto;
  .saisili {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 0;

    &:last-child {
      margin: 0;
    }
  }

  .saisileft {
    display: flex;
    height: 21px;
    align-items: center;
  }
}

.yuandian {
  width: 7px;
  height: 7px;
  background-color: rgba(57, 119, 254, 0.74);
  border-radius: 50%;
  position: relative;

  span {
    display: inline-block;
    width: 1px;
    height: 27px;
    opacity: 0.37;
    border-left: solid 1px #979797;
    position: absolute;
    top: 7px;
    left: 3px;
  }
}

.toda {
  display: inline-block;
  margin: 0 6px 0 14px;
  font-family: PingFangSC;
  font-size: 11px;
  color: #6696ff;
}

.bishaming {
  font-size: 11px;
  font-weight: 500;
  color: #323232;
  margin: 0 18px 0 0;
}

.bishaxq {
  font-size: 11px;
  font-weight: 500;
  color: #323232;
}

// .headtab li {
//   list-style: none;
//   font-family: PingFangSC;
//   font-size: 18px;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: -0.1px;
//   color: #ffffff;
//   cursor: pointer;
// }

.navright {
  display: flex;
}

.searchCtn {
  height: 31px;
  position: relative;
  background-color: #4f5878;
  border-radius: 31px;
  border-top-right-radius: 0;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border .3s;

  &:hover {
    border: 1px solid #1895fc;
  }
}

.searchWrap {
  width: 155px;
  padding: 0 30px 0 15px;
  box-sizing: border-box;
  transition: width .3s;
}

.searchHover {
  width: 180px;
}

.searchInput {
  width: 100%;
  height: 29px;
  line-height: 29px;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #e0e0e0;
  font-family: PingFangSC;
}

.searchIcon {
  width: 19px;
  height: 20px;
  background-image: url(network($home + 'search'));
  background-size: 100% 100%;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

// 搜索建议
.suggestCtn {
  width: 230px;
  height: auto;
  padding: 12px 8px;
  position: absolute;
  top: 34px;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: #333;
  display: none;
}

.suggestlist {
  li {
    padding-left: 8px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 12px;

    &:hover {
      color: #ff9600;
      background-color: #f1f2f4;
      cursor: pointer;
    }

    i {
      font-style: normal;
    }
  }
}

.suggShow {
  display: block;
}

.textright {
  display: flex;
  padding-top: 14px;
  margin: 0 0 0 17px;
  color: #ffffff;
}

.soft {
  width: 50px;
  display: flex;
  margin: 0 18px 0 0;
  cursor: pointer;
  position: relative;

  &:hover {
    .appDown {
      display: block;
    }
  }
}

.softIcon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(network($home + 'application-mode'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
}

.softtext {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

.dingyue {
  width: 50px;
  display: flex;
  margin: 0 18px 0 0;
  cursor: pointer;
  position: relative;

  .gap {
    display: none;
  }

  &:hover {
    .subscribe {
      display: block;
    }

    .gap {
      display: block;
      width: 50px;
      height: 80px;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.dingyueIcon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(network($home + 'subscription'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
}

.dingyuetext {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

.guanzhu {
  width: 50px;
  display: flex;
  margin: 0 18px 0 0;
  cursor: pointer;

  .gap {
    display: none;
  }

  position: relative;

  &:hover {
    .atten {
      display: block;
    }

    .gap {
      display: block;
      width: 50px;
      height: 80px;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.guanzhuicon {
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url(network($home + 'attention'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
}

.guanzhutext {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

.loginwrop {
  width: 94px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
  position: relative;
}

.loginicon {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(network($home + 'user-icon'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
  float: left;
}

.loginctn {
  display: flex;
  float: left;
}

.loginctn i {
  font-style: normal;
  display: inline-block;
  padding: 0 6px;
}

.loginctn1 {
  cursor: pointer;
}

.loginctn2 {
  cursor: pointer;
}

.avatar {
  width: 48px;
  height: 48px;
  margin: -10px 0 0 20px;
}

.games {
  width: 140px;
  height: 142px;
  margin: 0;
  padding: 19px 28px 20px 28px;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.34);
  font-size: 14.3px;
  color: #aeaeae;
}

.zuqiuss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .zuqiutext {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(network($liveselect + 'zuqiu'));
    background-size: 100% 100%;
  }
}

.lanqiu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20.5px 0;
  cursor: pointer;

  .zuqiutext {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(network($liveselect + 'lanqiu'));
    background-size: 100% 100%;
  }
}

.gameing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .zuqiutext {
    display: inline-block;
    width: 25px;
    height: 18px;
    background-image: url(network($liveselect + 'dianjin'));
    background-size: 100% 100%;
  }
}

.appDown {
  width: 348px;
  height: 286px;
  position: absolute;
  top: 25px;
  left: -217px;
  background-image: url(network($liveselect + 'xiala'));
  background-size: 100% 100%;
  padding: 36px 40px 0 32px;
  box-sizing: border-box;
  display: none;
}

.dowtitle {
  width: 206px;
  height: 29px;
  background-image: url(network($liveselect + 'wenzi'));
  background-size: 100% 100%;
  margin: 0 auto 38px;
}

.downctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downios {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  margin: 0 0 18px 0;

  .iosicon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(network($liveselect + 'ios'));
    background-size: 100% 100%;
    margin: 0 5px 0 0;
  }
}

.android {
  font-size: 20px;
  color: #ffffff;
  display: flex;

  .andicon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(network($liveselect + 'anzhuo'));
    background-size: 100% 100%;
    margin: 0 5px 0 0;
  }
}

.downicon {
  width: 135px;
  height: 135px;
  background-image: url(network($home + 'code-bg'));
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downicon2 {
  width: 113px;
  height: 113px;
  background-image: url(network($home + 'code'));
  background-size: 100% 100%;
}

.subscribe {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translateX(-50%);
    display: inline-block;
    content: '';
    width: 14px;
    height: 9px;
    background-image: url(network($liveselect + 'notice-live'));
    background-size: 100% 100%;
  }
}

.subctn {
  width: 259px;
  height: 395px;
  margin: 0;
  padding: 14px 20px 18px 25px;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.34);
  font-size: 12px;
}

.subing {
  font-size: 12px;
  color: #464646;
  line-height: 1;
  margin: 0 0 10px 0;
}

.subUlctn {
  .subLictn {
    margin: 0 0 7px 0;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin: 0;
    }
  }

  .subimg {
    width: 63px;
    height: 39px;
    border-radius: 1.2px;
  }
}

.subgamename {
  font-size: 11px;
  color: #999999;
  margin: 0 0 8px 0;

  span {
    margin: 0 0 0 8px;
  }
}

.subgameou {
  font-size: 11px;
  font-weight: 500;
  color: #323232;

  span {
    margin: 0 0 0 8px;
  }
}

.titlectnn {
  height: 12px;
  font-size: 9px;
  font-weight: 500;
  color: #a9a9a9;
  margin: 17px auto 10px;
  text-align: center;
  line-height: 1;
}

.chakan {
  width: 206px;
  height: 30px;
  margin: 0 auto;
  background-image: url(network($liveselect + 'anniu'));
  background-size: 100% 100%;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.atten {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.attenctn {
  width: 319px;
  // height: 245px;
  margin: 0;
  padding: 14px 35px 25px 26px;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.34);
  font-size: 12px;

  &::after {
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translateX(-50%);
    display: inline-block;
    content: '';
    width: 14px;
    height: 9px;
    background-image: url(network($liveselect + 'notice-live'));
    background-size: 100% 100%;
  }
}

.toubu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;

  .gzzb {
    font-size: 20px;
    font-weight: 500;
    color: #464646;
    line-height: 1;
  }
}

.gzren {
  font-size: 14px;
  color: #999999;
  cursor: pointer;
  line-height: 20px;
}

.attenUl {
  display: flex;
  justify-content: space-between;
}

.attenLi {
  width: 49px;
  height: 49px;
  position: relative;
}

.attenImg {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.attenhou {
  width: 34px;
  height: 15px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8.2px 0 8.2px 8.2px;

  .hot3 {
    height: 16px;
    position: absolute;
    top: 0px;
    left: 9px;
  }
}

.gzdzj {
  margin: 25px 0 15px 0;
}

.loginNo {
  display: block;

  &:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    line-height: 0;
    width: 0;
    height: 0;
  }
}

.loginYes {
  // display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #19a7ff;
  position: absolute;
  top: -18px;

  .gap {
    display: none;
  }

  &:hover {
    .mycenten {
      display: block;
    }

    .gap {
      display: block;
      width: 50px;
      height: 80px;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.headtou {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 2px auto 0;
}

.mycenten {
  display: none;
  position: absolute;
  top: 61px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translateX(-50%);
    display: inline-block;
    content: '';
    width: 14px;
    height: 9px;
    background-image: url(network($liveselect + 'notice-live'));
    background-size: 100% 100%;
  }
}

.myctn {
  width: 119px;
  height: 102px;
  margin: 0;
  padding: 22px 17px 16.5px 19px;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.34);
  font-size: 14.3px;
  color: #aeaeae;
}

.ziList {
  display: flex;
  cursor: pointer;
  font-size: 14.3px;

  &:first-child {
    margin: 0 0 20.5px 0;
  }

  color: #aeaeae;

  .zilsz {
    width: 21px;
    height: 21px;
    background-image: url(network($liveselect + 'zili'));
    background-size: 100% 100%;
    margin: 0 4px 0 0;
  }

  .loginout {
    width: 21px;
    height: 21px;
    background-image: url(network($liveselect + 'tuichu'));
    background-size: 100% 100%;
    margin: 0 4px 0 0;
  }

  p {
    line-height: 21px;
  }
}

// 超出隐藏
.space {
  display: inline-block;
  width: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}