@import '@/scss/helpers/_helpers.scss';


.sidebar {
  width: 95px;
  margin-top: 69px;
  min-height: calc(100vh - 69px);
  border-radius: 2px;
  background-color: #1b1d2e;
  cursor: pointer;
  float: left;
}

.main {
  background-image: url(network($room + 'room-bg'));
  background-size: 100% 100%;
  min-height: calc(100vh - 69px);
  height: 1px;
  overflow-y: scroll;
  width: calc(100% - 95px);
  overflow-y: scroll;
  margin-top: 69px;
  float: left;
}


.sidebarItem {
  margin-top: 30px;

  &:hover {
    .text {
      background-image: -webkit-linear-gradient(left, #83c8ff, #3977fe);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .img {
    width: 19px;
    height: 19px;
    margin: 0 3px 6px 4px;
  }

  .text {
    width: 26px;
    height: 18px;
    font-size: 13px;
    margin: 6px 0 0;
    text-align: center;
    font-family: PingFangSC;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #dadadc;
  }



}