@import '@/scss/helpers/_helpers.scss';

.rangtop1{
  display: flex;
  padding: 17px 0 0 0;
  margin: 0 0 11px 0;
}
.hidetext{
  width: 60px;
  height: 29px;
  font-size: 13px;
  color: #2d2d2d;
  background: #fff;
  border-radius: 2.2px;
  text-align: center;
  line-height: 29px;
  margin: 0 10px 0 0;
}
.showtext{
  width: 88px;
  height: 29px;
  font-size: 13px;
  color: #2d2d2d;
  background-image: url(network($liveselect + 'btn-xiao'));
    background-size: 100% 100%;
  border-radius: 2.2px;
  text-align: center;
  line-height: 29px;
  margin: 0 21px 0 0;
}
.gswx{
  font-size: 13px;
  color: #2d2d2d;
  line-height: 29px;
}
.nubrde{
  color: #fd6703;
}

.listtop{
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  background-color: #434a68;
  .cell{
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }
  .cell1{
    width: 130px;
    cursor: pointer;
  }
  .cell2{
    width: 185px;
  }
  .cell3{
    width: 138px;
  }
  .cell4{
    width: 112px;
  }
  .cell5{
    width: 112px;
  }
  .cell6{
    width: 112px;
  }
  .cell7{
    width: 113px;
  }
  .cell8{
    width: 113px;
  }
  .cell9{
    width: 262px;
  }
  .cell10{
    width: 145px;
  }

}
.ivutab{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    tr{
      .cel1{
        width: 130px;
      }
      .cel2{
        width: 185px;
      }
      .cel3{
        width: 138px;
      }
      .cel4{
        width: 112px;
      }
      .cel5{
        width: 112px;
      }
      .cel6{
        width: 112px;
      }
      .cel7{
        width: 113px;
      }
      .cel8{
        width: 113px;
      }
      .cel9{
        width: 262px;
      }
      .cel10{
        width: 145px;
      }
    }
}