@import '@/scss/helpers/_helpers.scss';

.ctn {
  position: fixed;
  right: 6px;
  bottom: 227px;
  z-index: 99;
}

.item {
  width: 50px;
  height: 221px;
  padding: 9px 11px 7px 12px;
  border-radius: 7.5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  box-sizing: border-box;

  li {
    width: 27px;
    height: 64px;
    background-image: url(network($home + 'download'));
    background-size: 100% 100%;
    margin: 0 0 10px 0;
    cursor: pointer;

    &:nth-child(2) {
      width: 27px;
      height: 62px;
      background-image: url(network($home + 'customer-service'));
    }

    &:nth-child(3) {
      width: 27px;
      height: 58px;
      background-image: url(network($home + 'feedback'));
      margin: 0;
    }
  }
}