@import '@/scss/helpers/_helpers.scss';
.userWrap{
  width: 1400px;
  margin:  0 auto;
  padding: 90px 0 50px 0;
  box-sizing: border-box;
  .userContent{
    display: flex;
    justify-content: space-between;
    // portrait scss
    .portraitWrap{
      text-align: center;
      width: 98px;
      height: 98px;
      box-sizing: border-box;
      border-radius: 100%;
      border-style: solid;
      border-width: 1px;
      border-color: #2883ff;
      padding: 2px;
      margin: 0 auto;
      font-size: 50px;
      line-height: 98px;
      font-weight: 500;
      color: #ffffff;
      .portraitInner{
        width: 100%;
        height: 100%;
        background: #b4aeae;
        border-radius: 100%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    
    .left{
      user-select: none;
      color: #505c74;
      width: 236px;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 40px 0 100px 0;
      box-sizing: border-box;
      .name{
        font-size: 22px;
        margin-top: 16px;
        line-height: 30px;
        font-weight: bold;
      }
      .joinDay{
        font-size: 16px;
        margin-top: 10px;
        line-height: 20px;
      }
      .ulist{
        margin-top: 20px;
        text-align: left;
        padding: 0 39px;
        .ulistItem{
          margin-bottom: 25px;
          line-height: 22px;
          display: flex;
          align-items: center;
          align-content: center;
          &:hover{
            color: #3977fe;
          }
          .icon{
            display: inline-block;
            width: 17px;
            height: 16px;
            margin: 0 5px 0 0;
          }
          .infoicon1 {
            background-image: url(network($home + 'subscription'));
            background-size: 100% 100%;
          }
          .infoicon2 {
            background-image: url(network($home + 'subscription2'));
            background-size: 100% 100%;
          }

          .guanzhuicon1 {
            background-image: url(network($home + 'attention'));
            background-size: 100% 100%;
          }
          .guanzhuicon2 {
            background-image: url(network($home + 'attention2'));
            background-size: 100% 100%;
          }
          cursor: pointer;
        }
        .active{
          color: #3977fe;
        }
      }
    }

    .right{
      width: 1144px;
      height: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      padding: 40px 210px 100px 40px;
      .hide{
        display: none !important;
      }
      .title{
        color: #363636;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
      }
      .infoWrap{
        width: 100%;
        min-height: 200px;
        position: relative;
        .info{
          line-height: 18px;
          margin-top: 15px;
          color: #505c74;
          .infoItem{
            margin-bottom: 10px;
          }
        }
        .posiPortrail{
          position: absolute;
          right: 0;
          top: 0;
          .editBtn{
            margin-top: 20px;
            width: 136px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            font-size: 18px;
            color: #ffffff;
            background-image: linear-gradient(to right, #83c8ff, #3977fe);
            border-radius: 4px;
            overflow: hidden;
            user-select: none;
            cursor: pointer;
            &:hover{
              opacity: 0.8;
            }
          }
        }
        .bindWrap{
          margin-top: 20px;
          .bindItem{
            height: 86px;
            width: 574px;
            border-bottom: 1px solid rgba(66, 82, 117, 0.3);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            font-size: 15px;
            color: #464646;
            .iconWrap{
              width: 49px;
              height: 49px;
              border-radius: 50%;
              overflow: hidden;
              background-color: rgba(146, 176, 235, 0.66);
              background-image: url(network($home + 'subscription'));
              background-size: 20px 20px;
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 30px;
            }
            .bindName{
              flex: 1;
            }
            .bindBtn{
              margin-left: 30px;
              height: 37px;
              line-height: 37px;
              width: 97px;
              border: 1px solid #363636;
              border-radius: 4px;
              text-align: center;
              user-select: none;
              &:hover{
                opacity: 0.8;
              }
            }
            .active{
              border: 1px solid #4895ff;
              color: #4895ff;
            }
          }
        }
      }

      .basicSetWrap{
        margin-top: 34px;
        .basicList{
          font-size: 13px;
          color: #505c74;
          padding-top: 5px;
          width: 574px;
          .basicListItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            height: 22px;
            margin-top: 10px;
            user-select: none;
            .closeBtn{
              width: 32px;
              height: 20px;
              background: #666666;
              color: #ffffff;
              border-radius: 10px;
              text-align: center;
              line-height: 20px;
              &:hover{
                opacity: 0.8;
              }
            }
            .openBtn{
              width: 32px;
              height: 20px;
              background: #3977fe;
              color: #ffffff;
              border-radius: 10px;
              text-align: center;
              line-height: 20px;
              &:hover{
                opacity: 0.8;
              }
            }
          }
        }
      }

      .secritWrap{
        margin-top: 25px;
        .secritItem{
          margin-top: 15px;
          .label{
            font-size: 13px;
            color: #505c74;
            line-height: 18px;
          }
          .inputWrap{
            border: 1px solid #e6eaf3;
            border-radius: 4px;
            padding: 5px;
            height: 38px;
            width: 250px;
            box-sizing: border-box;
            margin-top: 8px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
          }
          .inputPwd{
            flex: 1;
            padding: 0 10px;
          }
          .editPwd{
            width: 82px;
            height: 29px;
            border-radius: 4px;
            user-select: none;
            background-image: linear-gradient(to right, #83c8ff, #3977fe);
            text-align: center;
            line-height: 29px;
            color: #ffffff;
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }

      .careList{
        .careItem{
          height: 86px;
          width: 100%;
          box-sizing: border-box;
          padding: 0 19px;
          border-bottom: 1px solid rgba(66, 82, 117, 0.3);
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          .picWrap{
            width: 49px;
            height: 49px;
            position: relative;
            .picInner{
              width: 100%;
              height: 100%;
              border-radius: 100%;
              overflow: hidden;
              background-color: khaki;
              .picture{
                width: 100%;
                height: 100%;
              }
            }
            .steamWrap{
              background-color: lightcoral;
              width: 34px;
              height: 16px;
              position: absolute;
              bottom: -4px;
              left: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              .steamplay{
                height: 16px;
              }
            }
          }
          .careContent{
            padding: 0 13px;
            flex: 1;
            line-height: 20px;
            .subjectWrap{
              display: flex;
              font-size: 14px;
              color: #323232;
              .tag{
                height: 18px;
                line-height: 18px;
                color: #ffffff;
                border-radius: 4px;
                margin-left: 10px;
                padding: 0 5px;
                font-size: 10px;
                background-image: linear-gradient(to left, #83c8ff, #3977fe);
                .tagText{
                  transform: scale(0.9);
                }
              }
            }
            .careInfo{
              font-size: 13px;
              color: #a5a6a9;
            }
          }
          .cancelCare{
            width: 97px;
            height: 37px;
            border-radius: 4px;
            border: 1px solid #363636;
            text-align: center;
            line-height: 37px;
            user-select: none;
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.dailogTitle{
  text-align: center;
}
.dailogBody{
  height: 500px;
  width: 373px;
  padding: 0 30px 60px;
  .accountInfo{
    color: #49b5fe;
    font-size: 13px;
    line-height: 18px;
  }
  .inputEmailWrap{
    width: 310px;
    height: 38px;
    border: 1px solid #e6eaf3;
    border-radius: 4px;
    margin-top: 6px;
    .inputEmail{
      width: 100%;
      height: 38px;
      line-height: 38px;
      box-sizing: border-box;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }
}